{#- Shared by the single- and multi-building reports: smoke plume mass flow (Drysdale p. 136). -#}
Using this design fire, the depth of the smoke layer is then calculated for each time step with the intention of calculating the time taken for the smoke layer to reach head height (assumed to be 2m – CIBSE Guide E[7]). This is calculated using the methodology described below. The calculations for the mass and temperature of the smoke plume are taken from Drysdale[4] and are deployed at one second intervals to allow the temperature depth and volume of the smoke layer within the room to be measured over time.
Ambient temperature is taken to be {{ ambient_c }}°C ({{ ambient_k }}K).
The temperature of the smoke produced by the fire as it reaches the ceiling is dependent on the convective portion (70%) of the heat release rate of the fire ([[Qc]]) and the mass of the smoke after ambient air has been entrained into the plume ([[m_smoke]] – here [[m_smoke]] is the mass flow rate, but since time steps are taken to be one second, it is equivalent to the mass at each step of the calculation, and is used interchangeably throughout the calculations). The heat release rate at each time step is as per the previous calculations. The additional mass of the smoke added to the smoke layer at each time step is calculated as follows (p. 136[4]):
[[eq_mass_flow]]
> where:
> [[m_smoke]] = Mass flow of smoke as it reaches the ceiling (kg/s);
> g = Acceleration due to gravity (9.81 m/s²);
> ρ∞ = Density of air at ambient temperature ({{ rho_ambient }} kg/m³);
> cp = Specific heat capacity of air at ambient temperature ({{ cp }} kJ/kg/K);
> T∞ = Ambient temperature ({{ ambient_k }}K);
> [[Qc]] = Convective heat release rate of the fire (kW);
> z = Height of rise of the smoke plume (equivalent to the amount of clear air) (m).
